# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VS files
*.log
*.pch
*.ipch
*.idb
*.pdb
*.tlog
*.suo
*.sdf
*.filters
*.opensdf
Debug/
ipch/
TestResults/

# Eclipse
.settings/
.metadata/

# CLion files
.idea/

# bii
bii/

# temporary
*.tmp
*.d

# gcov
*.gcno
*.gcda
*.gcov

# Binary
*.exe
*.pyc

*.*~
