name: CI Linux/GCC

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            name: "Ubuntu 20.04 GCC 9",
            os: ubuntu-20.04,
            build_type: Debug,
            cc: "gcc-9", cxx: "g++-9"
          }
          - {
            name: "Ubuntu 20.04 GCC 10",
            os: ubuntu-20.04,
            build_type: Debug,
            cc: "gcc-10", cxx: "g++-10"
          }
          - {
            name: "Ubuntu 22.04 GCC 11",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc-11", cxx: "g++-11"
          }
          - {
            name: "Ubuntu 22.04 GCC 12 C++11",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc-12", cxx: "g++-12",
            cxx_standard: 11
          }
          - {
            name: "Ubuntu 22.04 GCC 12 C++14",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc-12", cxx: "g++-12",
            cxx_standard: 14
          }
          - {
            name: "Ubuntu 22.04 GCC 12 C++17",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc-12", cxx: "g++-12",
            cxx_standard: 17
          }
          - {
            name: "Ubuntu 22.04 GCC 12 C++20",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc-12", cxx: "g++-12",
            cxx_standard: 20
          }
          - {
            name: "Ubuntu 22.04 GCC with sanitizers",
            os: ubuntu-22.04,
            build_type: Debug,
            cc: "gcc", cxx: "g++",
            enable_sanitizers_in_tests: ON
          }
    steps:
      - uses: actions/checkout@v3
      - name: Build project
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} \
            -DENABLE_TESTING=ON \
            -DOVERRIDE_CXX_STANDARD_FOR_TESTS=${{ matrix.config.cxx_standard }} \
            -DENABLE_SANITIZERS_IN_TESTS=${{ matrix.config.enable_sanitizers_in_tests }}
          cmake --build build -j
      - name: Run tests
        run: |
          build/tests/FakeIt_tests
